
.bg-img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    filter: brightness(0.6);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.brand-img{
    height: 10rem;
    border-radius: 50%;
    filter: brightness(0.9);
}
.menu {
    position: relative;
    top: -4rem;
    left: 17rem;
    font-family: 'Raleway', sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
}
.navbar-brand{
    position: relative;
    top: 7rem;
    left: -5rem;
}
.menu li{
    padding: 1.5rem;
}